<div class="flex flex-col w-full">
  @if (label) {
    <app-label [for]="name">{{ label }}</app-label>
  }
  <div class="relative w-full">
    <app-input
      [type]="showPassword ? 'text' : 'password'"
      [placeholder]="placeholder"
      [name]="name"
      [value]="value"
      (valueChange)="onValueChange($event)">
    </app-input>
    <button 
      class="absolute right-4 top-1/2 -translate-y-1/2 text-text-muted-dark dark:text-text-muted-light hover:text-text-dark dark:hover:text-text-light flex items-center justify-center z-20 pointer-events-auto cursor-pointer w-6 h-6" 
      type="button"
      (click)="onToggleClick()">
      <app-icon 
        [name]="showPassword ? 'visibility_off' : 'visibility'"
        size="md"
        class="cursor-pointer">
      </app-icon>
    </button>
  </div>
</div>

