:host {
  display: block;
  width: 100%;
  background: transparent;
}

:host ::ng-deep input.app-input,
:host ::ng-deep .app-input {
  padding-right: 3rem !important;
  padding-left: 15px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 3.5rem !important;
  min-height: 3.5rem !important;
  max-height: 3.5rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  box-sizing: border-box !important;
  width: 100% !important;
}

