:host {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

div {
  height: 100%;
  min-height: 100vh;
}

main {
  height: 100%;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}

