<input
  [type]="type"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [name]="name"
  [ngModel]="internalValue"
  (ngModelChange)="onInput($event)"
  [class]="'app-input form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-text-dark dark:text-text-dark focus:outline-0 focus:ring-2 focus:ring-primary/50 bg-input-bg-light dark:bg-input-bg-dark focus:border-primary h-14 placeholder:text-text-muted-dark dark:placeholder:text-text-muted-light pl-[15px] pr-[15px] pt-[15px] pb-[15px] text-base font-normal leading-normal ' + class"
/>

